<section class="product_list section_padding">

<div class="container">
<div class="team">
  <div class="center wow fadeInDown">
    <h2>Ruby Team</h2>
    <p class="lead">
      Chúng tôi đến từ lớp Việt Nhật K61
    </p>
  </div>

  <div class="row clearfix">
    <div class="col-md-4 col-sm-6">
      <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="media">
          <div class="pull-left">
            <%=image_tag("img/nhungbee.png", height: '200')%>          
        </div>
          <div class="media-body">
            <h4>Nguyễn Hồng Nhung</h4>
            <ul class="tag clearfix">
              <li class="btn">
                <a href="#">Laravel</a>
              </li>
              <li class="btn">
                <a href="#">Ruby</a>
              </li>
              <li class="btn">
                <a href="#">Nodejs</a>
              </li>
            </ul>
          </div>
        </div>
        <!--/.media -->
        <p>
          - MSSV: 20166553<br>
          - Sở thích: thích những gì mình làm và làm những gì mình thích 
        </p>
      </div>
    </div>
    <!--/.col-lg-4 -->

    <div class="col-md-4 col-sm-6 col-md-offset-2">
      <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="media">
          <div class="pull-left">
            <a href="#">
              <%=image_tag("img/phu.png", height: '200')%>
            </a>
          </div>
          <div class="media-body">
            <h4>Bùi Hoàng Phú</h4>
            <ul class="tag clearfix">
              <li class="btn">
                <a href="#">Laravel</a>
              </li>
              <li class="btn">
                <a href="#">Ruby</a>
              </li>
              <li class="btn">
                <a href="#">Vuejs</a>
              </li>
            </ul>
          </div>
        </div>
        <!--/.media -->
        <p>
          - MSSV: 20163165<br>
          - Sở thích: ngắm hoa lúc buồn, yêu màu hường, mong muốn được kết bạn bốn phương
        </p>
      </div>
    </div>
    <!--/.col-lg-4 --> </div>
  <!--/.row -->
  <!--skill_border-->

  <div class="row clearfix">
    <div class="col-md-4 col-sm-6 ">
      <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="media">
          <div class="pull-left">
            <a href="#">
              <%=image_tag("img/hieu.png", height: '200')%>   
            </a>
          </div>

          <div class="media-body">
            <h4>Nguyễn Minh Hiếu</h4>
            <ul class="tag clearfix">
              <li class="btn">
                <a href="#">Java</a>
              </li>
              <li class="btn">
                <a href="#">Ruby</a>
              </li>
              <li class="btn">
                <a href="#">C#</a>
              </li>
            </ul>
          </div>
        </div>
        <!--/.media -->
        <p>
          - MSSV: 20161539<br>
          - Sở thích: khóc thầm, yêu màu tím, ghét sự thủy chung, thích nói phét.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-md-offset-2">
      <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="media">
          <div class="pull-left">
            <a href="#">
              <%=image_tag("img/nguyen.png", height: '200')%>   
            </a>
          </div>

          <div class="media-body">
            <h4>Vũ TT Nguyên</h4>
            <ul class="tag clearfix">
              <li class="btn">
                <a href="#">Ruby</a>
              </li>
              <li class="btn">
                <a href="#">Laravel</a>
              </li>
              <li class="btn">
                <a href="#">PHP</a>
              </li>
              <li class="btn">
                <a href="#">Java</a>
              </li>
            </ul>
          </div>
        </div>
        <!--/.media -->
        <p>
          - MSSV: 20162996<br>
          - Sở thích: code Ruby, gánh team 
        </p>
      </div>
    </div>
    
  </div>
  <!--/.row-->
  
</div>
<!--section-->
</section>
</div>
<br/>